*{
    margin:0;
    scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin:0;
}
body{
    cursor:url("./Images/cursor.png"),auto;
}

/* For firefox*/
input[type="number"]{
    -moz-appereance: textfield;
}

.greenColor{
    color:green !important;
}
.redColor{
    color:red !important;
}